/* html {
    background-image: url(images/background.jpg);
    background-size: cover;
}

body {
    margin: 0 100px;
} */

header {
    height: 500px;
    background-color: #0173A7;
}

.headertop {
    height: 60%;
    margin: 0 5%;
    /* background-color: yellow; */
    /* padding-top: 50px; */
}

.headertop img {
    max-width: 120px;
    max-height: 120px;
    float: left;
    margin-top: 50px;
}

.headertop div {
    border: 6px solid white;
    display: inline-block;
    margin-left: 10px;
    margin-top: 67px;
}

.headertop p {
    padding: 0 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}

.headerbottom {
    height: 40%;
    margin: 0 5%;
    /* background-color: violet; */
    clear: both;
}

.headerbottom .bottom1 p {
    color: white;
    font-size: 31px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.bottom1 {
    /* background-color: tomato; */
    width: 60%;
    display: inline-block;
    height: 200px;
    float: left;
    margin-top: 60px;
    position: relative;
}

.bottom2 {
    /* background-color: green; */
    width: 40%;
    display: inline-block;
    height: 200px;
    overflow: auto;
}

.one {
    width: 60px;
    height: 60px;
    /* background-color: violet; */
    float: right;
    margin-top: 120px;
}

.two, .three, .four, .five {
    width: 60px;
    height: 60px;
    /* background-color: violet; */
    float: right;
    margin-right: 30px;
    margin-top: 120px;
}

.one a img {
    max-width: 60px;
    max-height: 60px;
}

.two a img {
    max-width: 60px;
    max-height: 60px;
}

.three a img {
    max-width: 60px;
    max-height: 60px;
}

.four a img {
    max-width: 60px;
    max-height: 60px;
}

.five a img {
    max-width: 60px;
    max-height: 60px;
}

article {
    clear: both;
    height: 350px;
    background-color: white;
    position: relative;
}

.icons {
    display: flex;
    margin: 50px;
}

footer {
    height: 200px;
    background-color: #0173A7;
}